@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
:root {
  --color-white: #fff;
  --color-black: #151515;
  --color-purple: #d3c4e3;
  --color-transparent-white: #fffa;
  --color-light-blue: #89daff55;
  --color-pink: #f45b69;
  --color-pink-transparent: #f45b6930;
  --color-transparent: #0000;
  --color-solid-pink: #fde0e3;
  --color-solid-pink-ligth: #f8eeef;
  --color-solid-pink-dark: #c28e93;
  --color-blue-pretty: #1a91dc;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
position: fixed;
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  /* background-color: #f0f0f0; */
}

div.sphere-container {
  z-index: 2;
  height: 100vh;
  width: 100vw;
  position: absolute;
  /* background-color: var(--color-transparent-white); */
  font-size: 5%;
}
.sphere * {
  text-align: center;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all, 0.3s ease-out;
}
.sphere {
  border-radius: 50%;
  position: fixed;
  z-index: 4;
  display: flex;
  outline: 0.4rem dashed #0002;
  outline-offset: 0.1rem;
  justify-content: center;
  /* backdrop-filter: drop-shadow(10px 10px 10px #000); */
}
.sphere:hover {
  background-color: var(--color-solid-pink-ligth);
  outline: 0.4rem dashed #0008;
  outline-offset: 0.2rem;
}
.back-line {
  border-radius: 50%;
  position: fixed;
  z-index: 1;
  /* height: 50vh;
        width: 50vh; */
  border: 3rem double #22485150;
}
.sphere-container section {
  display: flex;
  flex-direction: column;
  padding: 20%;
  justify-content: center;
  align-items: center;
}

#blur-bg {
  display: block;
  position: fixed;
  z-index: 1;
  background-color: #fffe;
  backdrop-filter: blur(.7rem);

  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
svg {
  display: block;
  margin: auto;
  animation: rotateAnimation 100s linear infinite;
  z-index: 0;
}
text {
  fill: white;
  font-family: sans-serif;
  /* font-size: calc(min(100vw, 100vh) / 30); */
  /* font-size: larger; */
  font-size: 1.5rem;
  text-transform: uppercase;
}
g {
  cursor: pointer;
}
img {
  width: calc(min(100vw, 100vh) / 10);
  position: fixed;
  z-index: 5;
  right: calc(min(100vw, 100vh) / 20);
  top: calc(min(100vw, 100vh) / 20);
}
.ventana {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 25% 75%;
  z-index: 7;
  background: white;
}
.seccion:first-child {
  flex-direction: column;
  justify-content:space-evenly
}
.seccion {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.seccion > button:first-child {
background-color: #f004;
}
button {
  font-size: 3rem;
  font-family: inherit;
  text-transform: uppercase;
  padding: 0.5rem 1.5rem;
  border-width: 2px;
  border-color: #fff;
  border-radius: 15px;
  background: #fff4;
  border-style: solid;
  color: #333;
}
  
  button:hover {
  border-color: #000;
  background: #888;
  color: #fff;
}
