@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap");
:root {
  --color-white: #fff;
  --color-black: #151515;
  --color-purple: #d3c4e3;
  --color-dark-blue: #8f95d330;
  --color-light-blue: #89daff55;
  --color-pink: #f45b69;
  --color-pink-transparent: #f45b6930;
  --color-pink-transparent-2: #f45b6915;
  --color-transparent: #0000;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  font-family: "Oswald", serif;
  /* font-family: "Open Sans", sans-serif; */
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  --color-macro-control-y-evaluacion: #00a99d;
  --color-macro-soporte: #8cc63f;
  --color-macro-misional: #c1272d;
  --color-macro-estratégico: #f7931e;
  font-size: calc(min(100vh, 100vw) * 0.035);
}
* {
  /* box-sizing: border-box; */
  transition: all, 0.3s ease-out;
}
@keyframes rotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
svg {
  display: block;
  margin: auto;
  animation: rotateAnimation 3000s linear infinite;
  z-index: 0;
  grid-area: 1 / 1 / 32 / 32;
}
text {
  fill: var(--color-white);
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: calc(min(100vh, 100vw) * 0.022);
}
g[special] {
  cursor: not-allowed;
}
g:not([special]):hover text {
  fill: var(--color-white);
}

/* controla el color de texto de los espaciales*/
text[special="ESTRATÉGICOS"] {
  fill: var(--color-macro-estratégico);
}
text[special="MISIONALES"] {
  fill: var(--color-macro-misional);
}
text[special="SOPORTE"] {
  fill: var(--color-macro-soporte);
}
text[special="CONTROL Y EVALUACIÓN"] {
  fill: var(--color-macro-control-y-evaluacion);
}

g {
  cursor: pointer;
}
.ventana {
  grid-area: 5 / 4 / 30 / 31;
}
.seccion {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  gap: 1vw;
  flex-direction: column;
}
button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: medium;
}
a img {
  width: 20%;
  filter: invert();
  /* margin: 10px; */
}

a {
  padding: 3% 8%;
  text-align: center;
  border-radius: 5rem;
  border-style: solid;
  background-color: #bd1522;
  color: #fff;
  text-decoration: none;
}
a:hover {
  background-color: #8d0f19;
  /* padding: 1.2rem 2rem; */
}
.aside {
  position: fixed;
  right: 1%;
  top: -2%;
  font-size: min(10vh, 10vw);
  cursor: pointer;
  line-height: 5rem;
  color: #0008;
}
#proceso-g,
#macroproceso-g,
#nombre-g {
  width: 100%;
  height: 100%;
}
#proceso-g,
#nombre-g{
  align-items: flex-start;
}
#proceso-g,
#macroproceso-g{
  cursor: pointer;
  color: var(--color-macro-misional);
  /* text-decoration:underline; */
}
#nombre-g {
  cursor: default;
  font-weight: 350;
}
#innerContainer {
  gap: 2%;
  /* font-size: x-large; */
}
#innerContainer > div {
  outline: #0001 2px dashed;
  border-radius: 2rem;
}
#innerContainer > div:hover {
  outline: #0000 2px dashed;
}
.block p {
  padding: 1.5vw;
  cursor: default;
  transition: all, 0.3s;
  border-radius: 1vw;
  background-color: var(--color-pink-transparent-2);
  font-size: 2.5vw;
  margin: 3vw;
  font-weight: 400;
  outline: px dashed var(--color-pink);
  outline-offset: 0.2rem;

}
.block p::first-letter {
  text-transform: capitalize;
}
.hidden {
  display: none;
}